@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: Museo Sans Cyrl;
    font-weight: 100;
    src: url(fonts/MuseoSansCyrl.otf);
  }
  @font-face {
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    src: url(fonts/MuseoSansCyrl_0.otf);
  }
  @font-face {
    font-family: Museo Sans Cyrl;
    font-weight: 400;
    src: url(fonts/MuseoSansCyrl_1.otf);
  }

  @font-face {
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    src: url(fonts/MuseoSansCyrl_2.otf);
  }

  @font-face {
    font-family: Museo Sans Cyrl;
    font-weight: 800;
    src: url(fonts/MuseoSansCyrl_3.otf);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Jost", sans-serif;
  }
}

@layer components {
  .button-primary {
    @apply cursor-pointer inline-block py-3 w-full max-w-sm  md:w-24 bg-pink-default hover:bg-pink-500 focus:ring-indigo-500 font-semibold focus:ring-offset-indigo-200 text-white transition ease-in duration-200 text-center text-base md:text-xs focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-md lg:rounded-sm;
  }
  .button-secondary {
    @apply cursor-pointer inline-block py-3 w-full max-w-sm md:w-24 bg-transparent border border-white hover:border-pink-default font-semibold border-opacity-40 hover:text-pink-default text-white transition ease-in duration-200 text-center text-base md:text-xs shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-md lg:rounded-sm;
  }
  .button-cta {
    @apply w-full md:w-32 h-12 font-semibold bg-gradient-to-b from-action-button-gradient-first to-action-button-gradient-last shadow-blue-glow rounded-md lg:rounded-sm;
  }
  .input-username {
    @apply w-full text-pink-default font-medium h-10 rounded-md placeholder-opacity-50 placeholder-pink-default px-4 py-6;
  }
  .heading-secondary {
    @apply text-2xl lg:-ml-1 md:text-4xl lg:text-4xl text-left md:text-center font-bold text-pink-default;
  }
}
